/**
*
* Testing
*
**/
@media (max-width: 360px) {
  header .nav-list {
    position: absolute;
    z-index: 10;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    background: #1A90D9;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  header .nav-list li {
    margin-left: 0;
    opacity: 0;
    z-index: 10;
  }
  header .mobile-menu {
    display: block !important;
  }
  header .container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 1;
  }
  header .container-header .header-frase {
    background: #E4F2E9;
    position: relative;
    top: -10px;
    left: 15px;
    width: 70%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0px 0px 0 10px #023059;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .container-header .header-frase p {
    font-style: normal;
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
  header .container-header .header-content {
    position: relative;
  }
  header .container-header .header-content .header-imgLogo {
    background: #E4F2E9;
    height: 100px;
    position: relative;
    top: auto;
    left: -15px;
    box-shadow: 0 0 0 10px #023059;
    border-radius: 20px;
  }
  header .container-header .header-content .header-imgLogo img {
    height: 100px;
  }
  header .container-header .header-content .header-imgAluno {
    display: none;
  }
}
header nav {
  max-width: 100vw;
  height: 10vh;
  background: #1AA3D9;
  -webkit-background: #1AA3D9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .logo img {
  width: 150px;
}
header nav .nav-list {
  list-style: none;
  display: flex;
}
header nav .nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
header nav .nav-list li a {
  color: #dce8e0;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
header nav .nav-list li a:hover {
  border-bottom: 3px solid #fff;
}
header nav .nav-list.active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
header nav .mobile-menu {
  cursor: pointer;
  display: none;
}
header nav .mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}
header nav .mobile-menu.active .line-1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
header nav .mobile-menu.active .line-2 {
  opacity: 0;
}
header nav .mobile-menu.active .line-3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
header .container-header {
  max-width: 100vw;
  height: 100vh;
  background: #1A90D9;
  position: relative;
}
header .container-header .header-frase {
  position: absolute;
  top: 180px;
  left: 170px;
  font-size: 25px;
  text-transform: uppercase;
}
header .container-header .header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}
header .container-header .header-content .header-imgLogo {
  grid-column-start: 1;
  grid-row-start: 2;
}
header .container-header .header-content .header-imgLogo img {
  margin-left: 200px;
  height: 210px;
}
header .container-header .header-content .header-imgAluno {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header .container-header .header-content .header-imgAluno img {
  height: 500px;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=index.css.map */
