@use '../abstracts/_variables' as *
@use '../abstracts/_mixins' as *
@use '../abstracts/_breakpoints' as *
@use '../abstracts/_breakpoints' as *

nav
    max-width: 100vw
    height: 10vh
    background: $background 
    -webkit-background: $background
    display: flex
    justify-content: space-around
    align-items: center

    .logo
        display: flex
        justify-content: center
        align-items: center
        img
            width: 150px

    .nav-list
        list-style: none
        display: flex
        li
            letter-spacing: 3px
            margin-left: 32px
            a
                color: $links
                text-transform: uppercase
                font-weight: 600
                cursor: pointer
                &:hover
                    border-bottom: 3px solid #fff

    .nav-list.active
        transform: translateX(0)
    
    @keyframes navLinkFade
        from     
          opacity: 0  
          transform: translateX(50px)
        to
            opacity: 1
            transform: translateX(0)

    .mobile-menu
        cursor: pointer
        display: none
        div
            width: 32px
            height: 2px
            background: #fff
            margin: 8px
    
        &.active .line-1
            transform: rotate(-45deg) translate(-8px,8px)
        &.active .line-2
            opacity: 0
        &.active .line-3
            transform: rotate(45deg) translate(-5px,-7px)

.container-header
    @include responsiveContent
    height: 100vh
    background: $border